[alias]
	lga = log --graph --oneline --all --decorate
	lg = log --graph --all --pretty=format:'%C(bold)%h%Creset -%C(auto)%d%Creset %s %C(green dim)(%cr)%Creset %C(ul)<%an>'
[core]
	excludesfile = ~/.gitignore
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig.local
